* {
    margin: 0;
    padding: 0;
}

html {
    --backColor: #ddd6fe;
    --sidebar: #7c3aed;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vw 5fr; 
    background-color: var(--backColor);
}

img {
    height: 25px;
    width: auto;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
}

#fade {
    border: 10px solid var(--sidebar);
    box-shadow: 10px 0 10px -5px rgb(128, 128, 128, .5);  
}

.body-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);

    background-color: rgba(240, 248, 255, 0.8);
    color: black;
}

.projects {
    grid-column: 1 / 16;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-left: 30px;
}

.project {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;

    
    font-size: 1rem;
    gap: 15px;
    margin: 15px;
    border-left: 6px solid #7e22ce;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(128, 128, 128, .5);
    cursor: pointer;
}

.project:hover {
    scale: 1.02;
}

.main-right {
    grid-column: 17 / 21;
    grid-row: 1 / 2;
}

.announcements {
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    box-shadow: 2px 5px 5px rgb(128, 128, 128, .5);
}

.employees {
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    box-shadow: 2px 5px 5px rgb(128, 128, 128, .5);
}

.logo {
    font-size: 1.8vw;
    margin: 20px;
}

.logo-dash {
    grid-template-columns: repeat(2, 1fr);
    font-weight: bold;
    margin-top: 8px;
    margin-right: 20px;
}

.logo-dash img:nth-of-type(1) {
    scale: 1.9;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.text .button img:nth-of-type(1) {
    scale: 10;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.icons {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    margin-right: -2em; 
}

.icons img:hover {
    scale: 1.15;
}

.text {
    grid-column: 1 / span 4;
    grid-row: 2 / 3;
}

.heading {
    font-weight: 600;
    font-size: 22px;
    padding-left: 15px;
    margin-top: 25px;
    margin-left: 10px;
}

.announcements,
.employees {
    gap: 15px;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
}

.project-title {
    font-weight: 800;
    font-size: 1.3rem;
    grid-column: 1 / 3;
}

.upper {
    margin: 10px;
}

.sidebar {
    background-color: var(--sidebar);
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.menu {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    vertical-align: middle;
    list-style-type: none;
    margin-left: 50px;
    text-align: left;
    justify-items: start;
}

header {
    grid-row: 1 / 2;
    background-color: whitesmoke;
    box-shadow: 0px 5px 5px;
    color: black;

    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 2fr 3fr;
}



.top-section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bottom-section {
    grid-column: 1 / 3;
    /* grid-row: 2 / 3; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 1fr; */
    align-content: center;
}

.bottom-section img:nth-of-type(1) {
    /* grid-row: 1 / 2; */
    scale: 3.5;
    margin-left: 80px;
    margin-top: 20px;
}

.greeting {
    grid-column: 1 / 2;
    margin-left: 165px;
    margin-top: -30px;
}

.hi-there {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
}

.greeting .username {
    font-size: 24px;
    font-weight: 600;
}

.button-container {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1em;
}

.search-container {
    font-family: Roboto;
    font-size: 16px;
    margin-left: 13em;
    margin-top: 1.8rem;
}

.top-section .search-container .button {
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border-radius: 5px;
    margin: 0 0 30px;
  }

.top-section input[type=text] {
    font-size: 18px;
    border: none;
    background-color: var(--backColor);
    border-radius: 16px;
    padding: 6px;
    padding-left: 14px;
    width: 30rem;
}

.top-section button[type=submit] {
    border: none;
    text-indent: -70px;
    cursor: pointer;
    scale: 1.05;
}

.header-icons {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
}

.username {
    padding-right: 55px;
}

.header-icons img:nth-of-type(2) {
    grid-row: 1 / 2;
    scale: 1.76;
    padding-left: 1.7rem;
}

.header-icons img:nth-of-type(1):hover {
    scale: 1.15;
    cursor: pointer;
}

.announcements {
    overflow: hidden;
    padding: 25px;
}

.announcements:hover {
    scale: 1.01;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.announce {
    padding-top: 3px;
    font-size: 12px;
}

.settings {
    margin-top: 25px;
}

.title {
    font-weight: 700;
}

.user:hover {
    scale: 1.02;
}

.button-2 {
    border-radius: 16px;
    background-color: var(--sidebar);
    border: none;
    padding: 8px;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(128, 128, 128, .7);
    font-family: Roboto;
    font-weight: 600;
    color: white;
    font-size: 14px;
}

.button-2:hover {
    scale: 1.05;
}


.button {
    font-size: 1vw;
    width: 10vw;
    text-align: left;
    appearance: none;
    background-color: none;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    padding-left: .8em;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
}

.button:hover {
    color: black;
    scale: 1.05;
}

.button span {
    z-index: 1;
    position: relative;
}

.button:active {
    color: black;
    transition: 0.7s;
}

.user {
    background-color: #ddd6fe;
    padding: 5px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 0;
    margin: 8px;
    cursor: pointer;
    align-items: center;
    box-shadow: 2px 3px 2px rgb(128, 128, 128, .5);
}

.name,
.task {
    grid-column: 2 / 3;
    margin-left: 4px;
}

.task {
    font-size: 13px;
}

.user img:nth-of-type(1) {
    scale: 1.9;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}